body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #c2c2d6 1px, transparent 1px),
    linear-gradient(to right, #c2c2d6 1px, transparent 1px);
  background-size: 4px 4px;
}

.header-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(to bottom, #ffb6c1, transparent);
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  z-index: 1000;
}

.column {
  flex: 1;
  min-width: 230px;
  box-sizing: border-box;
  background-color: transparent;
}

#left-column {
  text-align: center;
}

#center-column {
  display: flex;
  align-items: center;
  text-align: center;
}

nav {
  font-size: 20px;
  width: 100%;
  padding-top: 45px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  transform: scaleY(6);
  transition: transform 0.5s;
  color: white;
  text-shadow: 2px 2px 4px lightblue;
}

.brand {
  text-align: center;
  width: 100%;
  transition: transform 0.3s;
  /* text-transform: uppercase; */
  font-family: verdana;
  font-size: 40px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.brand a {
  color: #fff;
  text-decoration: none;
}

.brand:hover {
  transform: scale(1.1);
}

img {
  width: 100px;
}

#content {
  margin-top: 120px;
  padding: 20px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  #left-column {
    order: 1;
  }

  nav {
    padding-top: 30px;
  }
}

.contact {
  position: fixed;
  bottom: 45%;
  width: 40px;
  left: 0px;
  background: white;
  box-shadow: 4px 4px 10px black;
  border-radius: 5px;
}

.contact img {
  padding: 3px;
  float: center;
  width: 30px;
  height: auto;
}

.contact img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

@media (max-height: 500px) {
  .contact {
    bottom: 20px;
  }
}
