.post {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .post-caption {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }
  